/* src/components/Sidebar.css */
.sidebar {
  background-color: #2C2C2C;
  color: #FFFFFF;
  padding: 20px;
  width: 250px;
  min-height: calc(100vh - 70px); /* Altura da tela menos a altura do header */
  border-right: 1px solid #444444;
  box-sizing: border-box; /* Garante que padding não aumente a largura */
}

.sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar nav li {
  margin-bottom: 15px;
}

.sidebar nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  display: block;
  padding: 8px 0;
  transition: color 0.3s ease;
}

.sidebar nav a:hover {
  color: #00D2BE; /* Cor de destaque F1 */
}